<?xml version="1.0"?>
<robot name="amr" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <xacro:include filename="$(find amr_sim_pkg)/urdf/mecanum_wheel.xacro"/>
    <xacro:include filename="$(find amr_sim_pkg)/urdf/amr_base.xacro"/>
    <xacro:include filename="$(find amr_sim_pkg)/urdf/laser.xacro"/>
    <xacro:include filename="$(find amr_sim_pkg)/urdf/imu.xacro"/>
    <xacro:include filename="$(find amr_sim_pkg)/urdf/omni_dir_move_controller.xacro"/>
    <xacro:include filename="$(find amr_sim_pkg)/urdf/camera.xacro"/>

    <xacro:property name="base_mass" value="118.02415513468259"/>
    <xacro:property name="wheel_radius" value="0.08"/>
    <xacro:property name="wheel_width" value="0.042"/>
    <xacro:property name="wheel_mass" value="1"/>
    <xacro:property name="PI" value="3.1415926535897931" />
    

    <xacro:amr_base
        mass="${base_mass}"
        wheel_radius="${wheel_radius}"
        wheel_pos_z="0"
    />
    <xacro:mecanum_wheel_left
        side="front"
        radius="${wheel_radius}"
        mass="${wheel_mass}"
        width="${wheel_width}"
        pos_x="0.265"
        pos_y="0.28"
        pos_z="0"
        reflect="${PI/2}"
    />

    <xacro:mecanum_wheel_left 
        side="rear"
        radius="${wheel_radius}"
        mass="${wheel_mass}"
        width="${wheel_width}"
        pos_x="-0.265"
        pos_y="0.28"
        pos_z="0"
        reflect="${PI/2}"
    />

    <xacro:mecanum_wheel_right
        side="front"
        radius="${wheel_radius}"
        mass="${wheel_mass}"
        width="${wheel_width}"
        pos_x="0.265"
        pos_y="-0.28"
        pos_z="0"
        reflect="${PI/2}"
    />

    <xacro:mecanum_wheel_right
        side="rear"
        radius="${wheel_radius}"
        mass="${wheel_mass}"
        width="${wheel_width}"
        pos_x="-0.265"
        pos_y="-0.28"
        pos_z="0"
        reflect="${PI/2}"
    />

    <xacro:laser
        update_rate="10"
        ray_count="360"
        min_angle="-3.1416"
        max_angle="3.1416"
        min_range="0.21"
        max_range="5.5"
        frame_id="laser_link"
        topic_name="scan"
    />

    <xacro:imu_sensor></xacro:imu_sensor>
    
    <xacro:omni_controller></xacro:omni_controller>

    <xacro:cam
        pos_x="0.5"
        pos_y="0.0"
        pos_z="0.05"
        image_width="800"
        image_height="800"
        update_rate="30.0"
    />
    

</robot>